/* 전체 화면 */
.grd {
  width: 100%;
  height: 100%;
}

.grd input:not(.select__input),
.grd textarea {
  padding: 0.5rem 0.8rem;
  font-size: 1rem;

  outline: none;
  border: none;
  border-radius: 0.5em;

  background-color: #eef1f7;
}
.grd input:focus,
.grd textarea:focus {
  outline: none;
}

.grd input:not(.select__input) {
  width: 100%;
  height: 2.2rem;
}
.grd textarea {
  width: 85%;
  height: 6rem;
  resize: none;
}

/* 파란색 큰 박스 */
.grd-outer {
  width: 100%;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--dark-blue2);
  border-radius: 0.5em;
}

.grd-outer-title {
  width: 100%;
  padding-bottom: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.grd-outer-title .beautiful-title {
  margin-right: auto;
  font-size: 2rem;
  color: white;
}

/* 하얀색 박스 */
.grd-inner {
  width: 90%;

  padding: 0.2rem;
  margin: 0.5rem;

  background-color: white;
  border-radius: 0.5em;
}
.grd-inner:hover {
  outline: 3px solid var(--dark-red);
}

/* 하얀색 박스 첫번째 칸 */
.grd-inner-header {
  width: 100%;
  padding: 1rem;

  display: flex;
  flex-direction: column;

  background-color: #eef1f7;

  border-radius: 0.5em 0.5em 0 0;
  border-bottom: 1px solid #ccc;
}

.grd-inner-header-title {
  width: 100%;
  margin-bottom: 0.5em;

  display: flex;
  align-items: center;

  color: var(--dark-blue2);
}
.grd-inner-header-title h3 {
  margin-right: auto;
}
.grd-inner-header .round-btn {
  margin-left: 0.5em;
}

/* 첫 번째 칸 중 하단 */
.grd-inner-header-info {
  width: 100%;
  height: 100%;

  display: flex;
  gap: 0 1em;
  flex-wrap: wrap;
}
.grd-inner-header-info > li {
  display: flex;
  gap: 0.5em;
}
.grd-inner-bottom-detail {
  color: #707070;
}

/* 하얀색 박스 두번째 칸  */
.grd-inner-body {
  color: #272727;
}
.grd-inner-body > li {
  width: 100%;
  padding: 0.7rem 1rem;

  display: flex;
  align-items: center;

  border-bottom: 1px solid #ccc;
}
.grd-inner-body > li:last-of-type {
  border-bottom: none;
}

.grd-inner-readme {
  border-bottom: 8px solid #eef1f7 !important;
}
.grd-inner-readme img {
  height: 1em;
  margin-left: 0.5em;
  cursor: pointer;
}

.grd-detail-left {
  min-width: 5rem;
}
.grd-detail-right {
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* 하얀색 박스 접기 이미지 */
.grd-inner-fold-img-wrapper {
  width: 0.3em;
  margin: 0 auto;
}
.grd-inner-fold-img-wrapper img {
  width: 100%;
  cursor: pointer;
  transition: all 300ms;
}

@media screen and (max-width: 700px) {
  .grd-outer {
    padding: 2rem 1rem;
  }
  .grd-inner {
    width: 100%;
    margin: 1.2rem 0;
  }
  .grd-detail-item {
    padding: 0.7rem 0.5rem;
  }
  .grd-detail-item-info {
    padding: 1rem 0.5rem;
  }
  .grd-detail-right {
    width: 100%;
  }
}
