#ctm-button {
  padding: 0.3em 1em;

  border: none;
  border-radius: 2em;
  background-color: #002d84;

  font-family: yoon-u;
  font-size: 1.4em;
  color: white;

  cursor: pointer;
  transition-duration: 400ms;
}

#ctm-button:hover {
  background-color: var(--dark-red);
}
