/* 이용 약관 페이지 제목 */
.agree-title {
  display: flex;
  flex-direction: column;

  width: max-content;
  margin-bottom: 1.2em;
}
/* 제목 글씨 */
.agree-title > .beautiful-title {
  padding: 0.2em 0.6em;

  border: 1px solid var(--dark-blue3);
  border-radius: 0.5rem;
}
/* 제목 위의 깃발 아이콘 */
#agree-title-flag {
  width: fit-content;
  margin-left: 0.5em;
  height: 1.3em;
}

/* 각 항목 별 타이틀 (윤고딕체)*/
.agree-contract-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 1.2em 0 0.5em 0;
}
/* 각 항목 별 동의 내용 */
.agree-contract-content {
  height: 10em;
  padding: 0.8em;

  border-radius: 0.5rem;

  color: var(--dark-blue2);
  font-size: 0.8em;

  background-color: var(--light-blue2);
}
.agree-contract-content > h4 {
  margin-bottom: 0.4em;
}

/* 맨 아래의 동의 버튼 */
.agree-button-container {
  display: flex;
  justify-content: center;

  margin-top: 2em;
}
