.infoInput .mainInfo {
  display: flex;
}

.container .document {
  padding-left: 0px;
  padding-right: 0px;
}

.container{
  margin: 0px;
  border: 1px solid;
  -ms-overflow-style: none;
}
.container::-webkit-scrollbar{
  display: none;
}

.mainInfo {
  display: flex;
  padding: 20px 0px;
  align-items: left;
}

.etc {
  padding: 20px 0px;
}

.intro {
  display: flex;
  flex-direction: column;
}

input::placeholder,
textarea::placeholder {
  color:#80AAFF;
  font-size: 0.8rem;
}

.container input[type="text"],
.container input[type="date"],
.container input[type="month"],
.container input[type="email"],
.container textarea,
.container select,
.btn {
  margin: 5px;
  padding: 5px;
  border: 1px solid var(--dark-blue1);
  background-color: white;
  border-radius: 5px;
  height: 2rem;
  color:#80AAFF;
}

#imgFile {
  visibility: hidden;
}

#imgUpload, #imgDefault {
  color:white;
  background-color: #AA3937;
  border:none;
  width: 100px;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1rem;
}
#imgDefault {
  background-color: #002D84;
  margin-top: 0.5rem;
}

#introLong {
  width: 42rem;
  height: 10rem;
  resize: none;
}

#introShort {
  width: 42rem;
  height: 2rem;
  resize: none;
}

#link, #des {
  width: 44.4rem;
  height: 2rem;
  resize: none;
  margin-left: 13.3rem;
}

.btn {
  border: none;
}

.imgBlock,
#thumbnail {
  background-color: #efefef;
  width: 150px;
  height: 150px;
}

.img {
  display: flex;
  margin-left: 30px;
}

.imgBtns {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
