:root {
    --borderColor: #172B7A;
}

.container {
  margin:0px;
  border: 1px solid;
  -ms-overflow-style: none;
}

.container ::-webkit-scrollbar {
  display: none;
}

.mainInfo {
  display: flex;
  padding: 20px 0px;
  align-items: left;
}

.etc {
    padding: 20px 0px;
}

.intro {
    display: flex;
    flex-direction: column;
  }

  .container input[type=text],
  .container input[type=date],
  .container input[type=email],
  .container textarea,
  .container select,
  .btn {
    margin:5px;
    padding: 5px;
    border: 1px solid var(--borderColor);
    background-color: white;
    border-radius: 5px;
    height: 2rem;
  }

  #introLong {
    width: 42rem;
    height:10rem;
    resize: none
  }

  #introShort {
    width: 42rem;
    height:2rem;
    resize: none
  }

  .btn {
    border: none;
  }

  .imgBlock, #thumbnail {
    background-color: #efefef;
    width: 150px;
    height: 150px;
  }

  .img {
    margin-left:30px;
  }