.mypage-upper-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;

  width: 100%;
  margin-bottom: 4rem;
}
/* 새로운 포트폴리오 생성 */
.mypage-upper-box-left {
  width: 50%;
  max-width: 350px;

  padding: 1.5em;

  text-align: center;

  border-radius: 0.5rem;
  box-shadow: 5px 5px 0px rgba(15, 44, 127, 0.5);

  background-color: var(--dark-blue1);
}
/* 새로운 포트폴리오 생성 제목 */
.mypage-new-title {
  color: white;
  margin-bottom: 0.8em;
}
/* 새로운 포트폴리오 생성 버튼 */
.mypage-upper-box-left > .round-button {
  background-color: white;
  color: var(--dark-blue2);
}

/* 임시 저장 중인 포트폴리오 & 최종 완성 포트폴리오 */
.mypage-upper-box-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5em;

  width: 50%;
  max-width: 310px;
  height: 90%;
}
.mypage-manage {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 1em;

  color: white;
  border-radius: 0.5rem;
  background-color: var(--dark-blue1);
}
.mypage-manage .beautiful-title {
  margin-left: 0.8em;

  font-size: 1.4em;
  color: white;
}

/* 기존 포트폴리오 */
.mypage-wrapper {
  position: relative;
}
.mypage-wrapper .pin-image {
  position: absolute;
  left: -10px;
  top: -10px;

  width: auto;
  height: 30px;

  transform: rotate(-45deg);
}
.mypage-wrapper-box {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
}
.mypage-wrapper-box > li {
  padding: 1rem;
  margin: 1rem;

  border: 1px solid gray;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.16);
}

.mypage-wrapper-box-title {
  color: var(--dark-blue1);
}

.mypage-wrapper-box-date {
  color: gray;
}

.mypage-wrapper-box-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  margin-top: 0.5em;
}

@media screen and (max-width: 700px) {
  .mypage-upper-box-left,
  .mypage-upper-box-right {
    width: 100%;
    max-width: none;
  }
  .mypage-wrapper-box > li {
    width: 100%;
    margin: 1rem 0.5rem;
  }
}
