.mp-upper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;

  width: 100%;
  margin-bottom: 4rem;
}
/* 새로운 포트폴리오 생성 */
.mp-upper-left {
  width: 50%;
  max-width: 350px;

  padding: 1.5em;

  color: white;
  text-align: center;

  border-radius: 0.5rem;
  box-shadow: 5px 5px 0px rgba(15, 44, 127, 0.5);

  background-color: var(--dark-blue1);
}
/* 새로운 포트폴리오 생성 버튼 */
.mp-upper-left > .round-white-btn {
  margin-top: 0.8em;
}

/* 임시 저장 중인 포트폴리오 & 최종 완성 포트폴리오 */
.mp-upper-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5em;

  width: 50%;
  max-width: 310px;
  height: 90%;
}
.mp-upper-right > li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 1em;

  color: white;
  border-radius: 0.5rem;
  background-color: var(--dark-blue1);
}
.mp-upper-right > li .beautiful-title {
  margin-left: 0.8em;

  font-size: 1.4em;
  color: white;
}

/* 기존 포트폴리오 */
.mp-pf-wrapper {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
}

.mp-pf-item {
  position: relative;

  padding: 1rem 2rem;
  margin: 1rem;

  border: 1px solid gray;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.16);
}

.mp-pf-pin {
  position: absolute;
  left: -10px;
  top: -10px;

  width: auto;
  height: 30px;

  transform: rotate(-45deg);
}

.mp-pf-item-title {
  color: var(--dark-blue1);
}

.mp-pf-item-date {
  margin: 0.5rem 0 1rem 0;
  color: #707070;
}

.mp-pf-item-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.mp-pf-item-comment {
  font-size: 0.8em;
  color: var(--dark-red);
}

@media screen and (max-width: 700px) {
  .mp-upper-left,
  .mp-upper-right {
    width: 100%;
    max-width: none;
  }
  .mp-pf-item {
    width: 100%;
    margin: 1rem 0.5rem;
  }
}
