footer {
  height: 3.5rem;

  font-family: yoon-gothic-320;
  font-size: 0.9em;
  color: var(--light-blue1);
  opacity: 0.9;
  z-index: 20;
}
footer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  padding: 1rem;
}
