.popup2 {
  height: 1100px;
}

.popup2-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  /*background-color: rgba(9, 45, 132, 0.62);*/
}

/* 팝업 박스 */
.popup2-box {
  width: 500px;
  height: 750px; 
  background-color: white;
  border-style: solid;
  border-color: #1B45C8;
  border-width: 3.5px 1px 1px 1px;
  border-radius: 0.5em;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.16);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -400px;
  margin-left: -250px;
}

.popup2-box-title {
  margin-top: 30px;
  margin-left: 20px;
  color: #002D84;
  font-family: yoon-gothic-350;
  font-size: 1.3rem;
}

/* 포토폴리오 박스 */
.popup2-box-portfolio {
  width: 350px;
  height: 120px;
  border: 1px solid #818181;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.16);
  margin-top: 40px;
  margin-left: 70px;
  border-radius: 0.3em;
}

/* 포트폴리오 제목 */
.popup2-box-portfolio-title {
  margin-top: 15px;
  font-size: 1.2rem;
  text-align: center;
  color: #002D84;
  font-family: yoon-gothic-350;
}


/* 포트폴리오 내용 */
.popup2-box-portfolio-content {
  margin-top: 15px;
  text-align: center;
  font-size: 0.75rem;
  color: #172B7A;
  font-family: yoon-gothic-330;
}

/* 생성일 & 수정일 */
.popup2-box-portfolio-date {
  margin-top: 15px;
  margin-left: 60px;
  font-size: 0.8rem;
  color: #707070;
  font-family: yoon-gothic-330;
  display: inline-block;
}

/* 버튼 */
.popup2-box-button {
  position: sticky;
  margin-top: 450px;
  margin-left: 150px;
}

.popup2-box-button-left {
  margin-right: 20px;
}