/* 전체 화면 */
.gitrepodetail {
  width: 100%;
  height: 100%;
}

/* 파란색 큰 박스 */
.gitrepodetail-wrapper {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: var(--dark-blue2);
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 파란색 큰 박스 안에 상단 칭구칭긔들 ＼\ ٩( ᐛ )و /／ */
.gitrepodetail-top-container {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: yoon-u;
  padding-bottom: 2rem;
}
.gitrepodetail-top-container-title {
  color: #ffffff;
  font-size: 1.8em;
  margin-right: auto;
}
.gitrepodetail-top-container-groupname {
  color: #ffffff;
  font-size: 1.4em;
  margin-right: 2%;
  width: 10%;
  border-bottom: 2px solid #ffffff;
  text-align: center;
}
.gitrepodetail-top-container .round-button {
  background-color: #ffffff;
  color: var(--dark-blue1);
  margin-left: 2%;
  width: fit-content;
  height: fit-content;
  padding: 0.1em 0.7em;
  font-size: 1.2em;
}

/* 하얀색 박스 */
.gitrepodetail-inner-box {
  width: 90%;
  height: 100%;
  padding: 0.2rem;
  background-color: #ffffff;
  text-align: center;
  border-radius: 0.5em;
}
.gitrepodetail-inner-box-image {
  width: 15px;
  height: 15px;
  margin-right: 0.6%;
  cursor: pointer;
  margin-left: 0.8%;
}

/* 하얀색 박스 첫번째 칸 */
.gitrepodetail-inner-box-info-container {
  width: 100%;
  height: 100%;
  background-color: #eef1f7;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}

/* 하얀색 박스 첫번째 칸 중 상단 */
.gitrepodetail-inner-box-top-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
.gitrepodetail-inner-box-repo-title {
  color: var(--dark-blue2);
  font-weight: bold;
  margin-right: auto;
}
.gitrepodetail-inner-box-star-num {
  color: var(--dark-blue2);
  font-weight: bold;
  padding-right: 2%;
}
.gitrepodetail-inner-box-info-container .round-button {
  width: fit-content;
  height: fit-content;
  padding: 0.1em 0.7em;
  font-size: 1.2em;
}

/* 첫 번째 칸 중 하단 (사용 언어는 왜 bold가 안 먹힐까?ㅠㅠ) */
.gitrepodetail-inner-box-bottom-container {
  width: 100%;
  height: 100%;

  display: flex;
  padding: 0.5rem;

  font-size: 0.8em;
}
.gitrepodetail-inner-box-bottom-title {
  color: #272727;
}
.gitrepodetail-inner-box-bottom-detail {
  color: #707070;
  margin: 0 1em;
}

/* 하얀색 박스 두번째 칸  */
.gitrepodetail-inner-box-title-container {
  width: 100%;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 1rem;
}
.gitrepodetail-inner-box-title-container-text {
  color: #272727;
  font-size: 1.0rem;
}

/* 하얀색 박스 세번째 칸 */
.gitrepodetail-inner-box-readme-container {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 8px solid rgb(230, 230, 230);
}

/* 하얀색 박스 네번째 칸 */
.gitrepodetail-inner-box-plus-info-container {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
}
.gitrepodetail-inner-box-plus-info-title {
  width: 100%;
  height: 10%;
  padding: 1rem;
  display: flex;
  color: #272727;
  font-weight: 500;
}

/* 하얀색 박스 네번째 칸 */
.gitrepodetail-inner-box-title-container-info {
  width: 100%;
  height: 10%;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 1rem;
  color: #272727;
  font-size: 1.0rem;
}
.wave-mark {
  width: 5%;
  color: #272727;
}

/* 하얀색 박스 네번째 칸 - 시작일 & 마감일 */
.gitrepodetail-inner-box-plus-info-title-date {
  background-color: #eef1f7;
  border-radius: 0.5em;
  border: none;
  outline: none;
  width: 15%;
  padding: 1%;
}

/* 하얀색 박스 네번째 칸 - 공통 input 칸 */
.gitrepodetail-inner-box-plus-info-title-info-box {
  background-color: #eef1f7;
  border-radius: 0.5em;
  border: none;
  outline: none;
  width: 60%;
  padding: 1%;
}
/*input::placeholder {
  font-size: 10px;
}*/

/* 하얀색 박스 네번째 칸 - 설명 (컨테이너) */
.gitrepodetail-inner-box-title-container-end-info {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  padding: 1rem;
  color: #272727;
  font-size: 1.0rem;
}

/* 하얀색 박스 네번째 칸 - 설명 (input) */
.gitrepodetail-inner-box-plus-info-title-plus-info-box {
  background-color: #eef1f7;
  border-radius: 0.5em;
  border: none;
  outline: none;
  width: 80%;
  padding: 3%;
}

/* 저장 버튼 */
.save-button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 10%;
  align-items: center;
  flex-direction: column;
}
.save-button-container .round-button {
  width: fit-content;
  height: fit-content;
  padding: 0.1em 0.7em;
  font-size: 1.2em;
}

/* 하얀색 박스 접기 이미지 */
.gitrepodetail-inner-box-fold-image {
  width: 20px;
  height: 10px;
  cursor: pointer;
  margin: 1%;
}

.container-title {
  width: 13%;
  text-align: left;
}