#ask-button {
  position: fixed;
  right: 1.2rem;
  bottom: 4.5rem;
  z-index: 20;

  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0.3em 1em;

  border: none;
  border-radius: 2em;
  box-shadow: 0.2rem 0.3rem lightgray;
  background-color: var(--dark-blue2);

  font-family: title;
  font-size: 1.4em;
  color: white;

  cursor: pointer;

  transition: all 400ms;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
}

#ask-button svg {
  height: 0.8em;
  margin-left: 0.4em;
}

#ask-button path {
  fill: white;
}

#ask-button:hover {
  background-color: var(--dark-red);
}
