/* Buttons Container */
.bf-at-btn {
  width: 100%;
  margin-bottom: 1em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  font-family: title;
  color: var(--dark-blue2);
}

.bf-at-wrapper {
  cursor: pointer;
  display: inline-block;
}

/* Buttons */
.bf-at-title {
  display: inline-block;
  margin: 0 0.3em;
  font-family: title;
  font-size: 1.7rem;
}
.bf-at-title::after {
  display: block;
  content: "";

  width: 0;
  height: 3px;
  border-radius: 10em;
  background-color: var(--dark-blue2);

  transition: all 300ms ease-in-out;
}
.bf-at-save {
  color: var(--dark-red);
}
.bf-at-save::after {
  background-color: var(--dark-red);
}

.bf-at-wrapper:hover .bf-at-title {
  font-weight: bold;
}
.bf-at-wrapper:hover .bf-at-title::after {
  width: 100%;
}

/* Button Image */
.bf-at-img {
  width: auto;
  height: 1.5rem;
}
