header {
  height: 4rem;
  color: white;
  font-family: yoon-u;
  font-size: 1.6rem;
  background-color: var(--dark-blue1);
}
header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  padding: 1rem 2rem;
}
header a {
  margin-right: 1em;
}
