header {
    min-height: 3rem;
    background-color: var(--dark-blue1);
    color: white;
    font-family: yoon-u;
    font-size: 1.6rem;
}
header .container > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
}
header .container a {
    margin-right: 1em;
}
