#pg-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100px;
  height: 100px;

  border-radius: 50%;
}

#pg-circle {
  width: 120px;
  height: 120px;

  border-radius: 50%;
}
