header {
  height: 4rem;
  color: white;
  font-family: title;
  font-size: 1.6rem;
}

header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  padding: 1rem 2rem;
}

header .left > span {
  margin-right: 1em;
  cursor: pointer;

  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
}
header .left > span:hover {
  opacity: 1 !important;
  color: white;
}

/* 헤더 배경 색상 */
.header-background-color1 {
  background-color: var(--blue2);
}
.header-background-color2 {
  background-color: var(--dark-blue1);
}

@media screen and (max-width: 700px) {
  header .user {
    display: none;
  }
}
