.error {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 100%;
  min-height: calc(100vh - 7.5rem);
}

.error-hippo {
  position: absolute;
  left: -75%;

  width: 140%;
  max-height: calc(100vh - 7.5rem);

  overflow: hidden;
}
.error-hippo img {
  width: 100%;
  height: auto;

  margin-top: -10%;
}

@media screen and (max-width: 700px) {
  .error {
    word-break: break-all;
  }
}
