.error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 100%;
  min-height: calc(100vh - 7.5rem);

  position: relative;
}

.error-hippo {
  position: absolute;
  left: -75%;

  width: 150%;
  height: fit-content;
  overflow: hidden;
}
.error-hippo img {
  width: 100%;
  height: auto;
}
