.md-pv-container {
  width: 90%;
  height: 80%;
  background-color: white;
  overflow: hidden;
}

.md-pv-container #round-shadow-wrapper-inner {
  height: 100%;
}

.md-pv-container .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.md-pv-source {
  height: calc(100% - 3rem);

  margin-top: 2rem;
  padding-bottom: 1rem;

  overflow: hidden scroll;
}
.md-pv-source::-webkit-scrollbar {
  width: 0;
}

@media screen and (max-width: 700px) {
  .md-pv-container {
    /* width: calc(100% - 2rem); */
    height: 90%;
  }
}
