#round-shadow-wrapper {
  margin: 0 auto;
  border-radius: 0.5rem;
  border: 1px solid var(--dark-blue1);
  box-shadow: 0.5rem 0.5rem rgba(15, 44, 127, 0.5);
}
#round-shadow-wrapper-inner {
  margin: 0 auto;
  padding: 2rem;
}

#round-shadow-wrapper-inner hr {
  background-color: #707070;
  margin: 1.2em 0;
}
#round-shadow-wrapper-inner h1,
#round-shadow-wrapper-inner h2,
#round-shadow-wrapper-inner h3,
#round-shadow-wrapper-inner h4 {
  color: var(--dark-blue1);
}
