:root {
  --blue1: #105ef7;
  --blue2: #0046d0;
  --blue3: #1b45c8;

  --borderColor: #172b7a;

  --dark-blue1: #0f2c7f;
  --dark-blue2: #002d84;
  --dark-blue3: #082e7f;

  --dark-red: #aa3937;

  --light-blue1: #80aaff;
  --light-blue2: #dee9ff;

  --black-transparent: rgba(0, 0, 0, 0.7);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* font-size: 1.2rem; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* font */
body,
input,
textarea {
  font-family: font-regular, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button {
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "font-bold";
}

/* 얇은 폰트 */
@font-face {
  font-family: "font-ultra-light";
  src: url("./font/NotoSansKR-Thin.otf");
}
@font-face {
  font-family: "font-light";
  src: url("./font/NotoSansKR-Light.otf");
}

/* 일반 폰트 */
@font-face {
  font-family: "font-regular";
  src: url("./font/NotoSansKR-Regular.otf");
}

/* 굵은 폰트 */
@font-face {
  font-family: "font-bold";
  src: url("./font/NotoSansKR-Bold.otf");
}
@font-face {
  font-family: "font-ultra-bold";
  src: url("./font/NotoSansKR-Black.otf");
}

/* 타이틀 폰트 */
@font-face {
  font-family: "title";
  src: url("./font/yoonu.ttf");
}
