:root {
  --blue1: #105ef7;
  --blue2: #0046d0;
  --blue3: #1b45c8;

  --borderColor: #172b7a;

  --dark-blue1: #0f2c7f;
  --dark-blue2: #002d84;
  --dark-blue3: #082e7f;
  --dark-red: #aa3937;
  --light-blue1: #80aaff;
  --light-blue2: #dee9ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: yoon-gothic-330, yoon-gothic-320, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
button {
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: yoon-gothic-350;
}

/* 온글잎 윤우체 */
@font-face {
  font-family: yoon-u;
  src: url("./font/yoonu.ttf");
}
/* 윤고딕 310 */
@font-face {
  font-family: yoon-gothic-310;
  src: url("./font/yoonGothic310.ttf");
}
/* 윤고딕 320 */
@font-face {
  font-family: yoon-gothic-320;
  src: url("./font/yoonGothic320.ttf");
}
/* 윤고딕 330 */
@font-face {
  font-family: yoon-gothic-330;
  src: url("./font/yoonGothic330.ttf");
}
/* 윤고딕 340 */
@font-face {
  font-family: yoon-gothic-340;
  src: url("./font/yoonGothic340.ttf");
}
/* 윤고딕 350 */
@font-face {
  font-family: yoon-gothic-350;
  src: url("./font/yoonGothic350.ttf");
}
/* 윤고딕 360 */
@font-face {
  font-family: yoon-gothic-360;
  src: url("./font/yoonGothic360.ttf");
}
