.home {
  height: calc(100vh - 7.5rem);
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 깃 헙 로그인 버튼 */
.home-login-button {
  margin-top: 3.3em;
}

/* 깃포 소개 내용 */
.home-intro-wrapper {
  display: flex;
  flex-direction: row;

  margin-top: 5em;
  color: white;
}
.home-intro-wrapper > #left,
.home-intro-wrapper > #right {
  height: 100vh;
  margin: 0 -1.5em;
  padding: 2em 3em 2em 3em;
  border-radius: 0.3em;
  transition-duration: 300ms;
}
.home-intro-wrapper > #left:hover,
.home-intro-wrapper > #right:hover {
  margin-top: -10px;
}

.home-intro-wrapper > #left {
  width: 43vw;
  background-color: var(--blue);
  transform: rotate(-4deg);
}
.home-intro-wrapper > #left > div {
  transform: rotate(4deg);
}

.home-intro-wrapper > #right {
  width: 50vw;
  background-color: var(--dark-blue1);
  transform: rotate(4deg);
}
.home-intro-wrapper > #right > div {
  transform: rotate(-4deg);
}

.home-intro-title {
  font-family: yoon-u;
  font-weight: 500;
  margin-bottom: 1.5em;
}

.home-background-title {
  position: fixed;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);

  z-index: -10;

  font-family: yoon-gothic-350;
  font-size: 11rem;
  font-weight: 800;
  color: var(--light-blue);
  opacity: 0.32;
}
