.home {
  max-width: 1700px !important;
  /*width: 100vh;*/
  /* overflow-y: auto; */
  overflow: hidden;
}

/* 깃 헙 로그인 버튼 */
.home-login-button {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

/* 깃포 소개 내용 */
.home-intro-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 100%;
  padding: 0 5em;
  margin-top: 12em;
  margin-bottom: -6rem;
  color: white;
}
.home-intro-wrapper > .left,
.home-intro-wrapper > .right {
  min-height: calc(100vh - 17.5rem);
  padding: 2em 3em 6em 3em;
  border-radius: 0.3em;
  transition-duration: 300ms;
}
.home-intro-wrapper > .left:hover,
.home-intro-wrapper > .right:hover {
  margin-top: -10px;
}

.home-intro-wrapper > .left {
  width: 45%;
  background-color: var(--blue1);
  transform: rotate(-4deg);
}
.home-intro-wrapper > .left > div {
  transform: rotate(4deg);
}

.home-intro-wrapper > .right {
  width: 50%;
  background-color: var(--dark-blue1);
  transform: rotate(4deg);
}
.home-intro-wrapper > .right > div {
  transform: rotate(-4deg);
}

.home-intro-title {
  font-family: title;
  font-weight: 500;
  margin-bottom: 1.5em;
}

.home .large-text-back {
  position: fixed;
  top: 6rem;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 800px) {
  .home-intro-wrapper {
    flex-direction: column;
    padding: 0 1rem;
  }
  .home-intro-wrapper > .left,
  .home-intro-wrapper > .right {
    width: 100%;
  }
}
