.gitrepo {
  width: 100%;
  height: 100%;
}

/* Title */
.gitrepo-page-manage {
  width: 100%;
  margin-bottom: 1em;

  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: yoon-u;
  color: var(--dark-blue2);
}

/* Buttons */
.gitrepo-previous {
  font-size: 1.4em;
  margin-right: auto;
}
.gitrepo-save {
  color: var(--dark-red);
  font-size: 2em;
}
.gitrepo-next {
  font-size: 1.4em;
}

.gitrepo-wrapper {
  width: 100%;
  height: 100%;
  /* height: 100vh; */
  padding: 5rem;

  background-color: var(--dark-blue2);
  border-radius: 0.5em;
}

.gitrepo-inner-box {
  width: 100%;
  padding: 1.2em;

  background-color: white;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.16);

  text-align: center;
}

.gitrepo-inner-box-title {
  font-family: yoon-gothic-350;
  font-size: 1.3em;
  color: var(--dark-blue2);
}

.gitrepo-inner-box-text {
  font-family: yoon-gothic-350;
  font-size: 1em;
  color: var(--dark-blue2);
}

.gitrepo-inner-box-project-name {
}

.gitrepo-inner-box .round-button {
  width: fit-content;
  margin: 1rem auto 0 auto;
}
